<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="edu.umich.eac.tests"
      android:versionCode="1"
      android:versionName="1.0">
    <application android:label="@string/app_name">
        <activity android:name=".StubActivity"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <uses-library android:name="android.test.runner" />
    </application>
    
    <!--
    This declares that this application uses the instrumentation test runner targeting
    the package of edu.umich.eac.  To run the tests use the command:
    "adb shell am instrument -w edu.umich.eac.tests/android.test.InstrumentationTestRunner"
    -->
    <instrumentation android:name="android.test.InstrumentationTestRunner"
                     android:targetPackage="edu.umich.eac.test"
                     android:label="Tests for StubActivity"/>
    
</manifest> 
